SECRET_KEY=
DEBUG=


API_KEY=
SECRET_KEY_SMS=
NIKITA_LOGIN=
NIKITA_PASSWORD=
NIKITA_SENDER=
NIKITA_TEST=


MERCHANT_ID=
PAY_SECRET_KEY=
PG_SUCCESS_URL=
PG_FAILURE_URL=
PG_BACK_LINK=


DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
