django
python-decouple
daphne
django-channels
django-jazzmin
djangorestframework
djangorestframework-simplejwt
django-phonenumber-field==7.3.0
django-ckeditor==6.7.1
django-ckeditor-5==0.2.12
reportlab
django-phonenumbers
xhtml2pdf
xmltodict
dicttoxml
channels==4.1.0