{% extends "admin/change_form.html" %}
{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <style>
        .approve-button {
            /* Добавьте стили для кнопки одобрения */
            background-color: #009688;
            color: #fff;
            padding: 8px 87px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            margin-top: 100px;
        }

        .approve-button:hover {
            background-color: #00796b;
        }
    </style>
{% endblock %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    {% if original.id %}
        <input type="submit" value="Одобрить" name="_approve_user" class="approve-button"
               onclick="location.href='{% url 'admin:get_user' object_id=original.id %}'"  />
    {% endif %}
{% endblock %}


{#{% extends "admin/change_form.html" %}#}
{#{% load static %}#}
{##}
{#{% block submit_buttons_bottom %}#}
{#    {{ block.super }}#}
{#    {% if original.id %}#}
{#        <input type="submit" value="Одобрить" name="_approve_user" class="approve-button"#}
{#               onclick="location.href='{% url 'admin:get_user' object_id=original.id %}'"  />#}
{#    {% endif %}#}
{#{% endblock %}#}