{#{% extends "admin/change_form.html" %}#}
{#{% load static %}#}
{#{% block submit_buttons_bottom %}#}
{#    {% if original.id %}#}
{#        <input class="approve-button" value="Одобрить" type="button" onclick="location.href='{% url 'admin:get_user' object_id=original.id %}'" />#}
{#    {% endif %}#}
{#    {{ block.super }}#}
{#{% endblock %}#}


{% extends "admin/change_form.html" %}
{% load static %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    {% if original.id %}
        <input type="submit" value="Одобрить" name="_approve_user" class="approve-button" />
    {% endif %}
{% endblock %}